# This file must be populated with the account username (email
# address), the public API key and the private API key. 
# The structure now supports multiple sites to extend beyond
# btcmarkets.net.
btc_markets:
  api_username: ""
  api_key_public: ""
  api_key_secret: ""
  api_host: "https://api.btcmarkets.net"
other_exchange:
  api_username:
  api_key_public:
  api_key_secret:
  api_host:
